body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #acacac;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #acacac;
}

/* Anything below 480 px*/

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title > .logo {
  margin: 15px;
  color: gainsboro;
  justify-self: center;
}

.title > .bi-line {
  flex-grow: 2;
  align-items: flex-end;
  display: flex;
  align-items: center;
}

.bi-line > h2 {
  color: gainsboro;
  border-bottom: 1px solid grey;
  margin: 0px;
  flex-grow: 1;
}

.quiz-content {
  display: flex;
  margin-top: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback-area {
  display: flex;
  justify-content: space-between;
  border: 1px solid sienna;
  width: 100%;
}

.feedback-area > h4 {
  margin: 0;
  align-self: flex-end;
}

.quiz-area {
  border: 1px solid slateblue;
}

.controls-area {
  margin-top: 32px;
  border: 1px solid seagreen;
}

/* Anything above 480 px*/

@media screen and (min-width: 480px) {
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .title > .logo {
    margin: 15px;
    color: gainsboro;
    justify-self: center;
  }

  .title > .bi-line {
    flex-grow: 2;
    align-items: flex-end;
    display: flex;
    align-items: center;
  }

  .bi-line > h2 {
    color: gainsboro;
    border-bottom: 1px solid grey;
    margin: 0px;
    flex-grow: 1;
  }
}

/* ================================================= */

.intro {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

button {
  color: white;
  padding: 10px 40px;
  font-size: 1em;
  background: transparent;
  border-radius: 50px;
  border: 1px solid white;
  margin: 40px auto 0;
  cursor: pointer;
  opacity: 0.7;
}
